/* STYLES FOR ZOOM CONTROLS */
.zoom-controls {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: rgba(40, 40, 40, 0.8);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  z-index: 10;
  color: white;
}

.zoom-controls button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 5px;
}

.zoom-controls span {
  font-size: 14px;
  min-width: 45px;
  text-align: center;
}


/* STYLES FOR EDITING BALLOONS */
.balloon-info {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-grow: 1;
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 16px;
  padding: 0;
  margin-left: 5px;
  visibility: hidden; /* Hide by default */
}

.balloon-item:hover .edit-button {
  visibility: visible; /* Show on hover */
}

.edit-button:hover {
  color: #007bff;
}

.balloon-edit-form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.balloon-edit-form input {
  width: 100px;
  padding: 2px 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.balloon-edit-form button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.save-button {
  color: #28a745; /* Green */
}

.cancel-button {
  color: #dc3545; /* Red */
}